* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe UI, sans-serif;
}

body {
  background: #dadbd3;
}

/* MAIN APP */
.app {
  display: flex;
  height: 95vh;
  width: 95%;
  margin: 20px auto;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* SIDEBAR */
.sidebar {
  width: 30%;
  background: #ededed;
  border-right: 1px solid #ccc;
}

.sidebar-header {
  background: #075e54;
  color: white;
  padding: 15px;
}

.chat-item {
  padding: 15px;
  cursor: pointer;
}

.chat-item:hover {
  background: #d9fdd3;
}

/* CHAT WINDOW */
.chat-window {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.chat-header {
  background: #075e54;
  color: white;
  padding: 15px;
}

.chat-body {
  flex: 1;
  background: #ece5dd;
  padding: 20px;
  overflow-y: auto;
}

/* MESSAGE */
.message {
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  max-width: 60%;
}

.me {
  background: #dcf8c6;
  margin-left: auto;
}

.other {
  background: white;
}

/* INPUT */
.chat-input {
  display: flex;
  padding: 10px;
  background: #f0f0f0;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.chat-input button {
  background: #075e54;
  color: white;
  border: none;
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
}

/* AUTH */
.auth {
  width: 300px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px gray;
}

.auth input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.auth button {
  width: 100%;
  padding: 10px;
  background: #075e54;
  color: white;
  border: none;
  cursor: pointer;
}
